$theme1: rgb(123, 71, 252);
$theme2: #cccaca;
$radius: 1rem;


body{
  margin: 0;
  padding: 0;
  color: black;
}

.menu-bar{
  width: 100%;
  margin: 0;
  height: 4rem;
  background-color: $theme1;
  padding: 1rem 0 0 3rem;

  .menu-title{
    text-decoration: none;
    color: $theme2;
  }
  .menu-title:hover{
    color: $theme2+50;
    cursor: pointer;
  }

  .add-poll{
    @extend .menu-title;
    text-align: right;
    position: absolute;
    right: 1rem;
  }
}

.link{
  text-decoration: none;
  color: black;
  font-size: 2em;
}

.topic{
  width: 100%;
  background-color: $theme2;
  height: 3rem;
  border-radius: 5px;
  text-align: center;
  line-height: 3rem;

  &:hover{
    background-color: $theme2+15;
    cursor: pointer;
  }
}

.dashboard{
  margin: 1rem;
  padding: 1rem;
  border: 3px solid black;
}

.directions{
  text-align: center;
}

.create{
  margin-left:auto;
  margin-right:auto;
  max-width: 400px;
  background: $theme1 + 100;
  margin-top: 50px;
  padding: 20px 20px 20px 20px;
  font: 12px Arial, Helvetica, sans-serif;
  color: #666;

  h2{
    font: 24px "Trebuchet MS", Arial, Helvetica, sans-serif;
    padding: 10px 10px 10px 20px;
    display: block;
    background: $theme1 + 75;
    border-bottom: 1px solid $theme1+100;
    margin: -20px -20px 15px;
  }

  input{
    color: #888;
    width: 95%;
    border: 1px solid $theme1+100;
    background: #FBFBFB;
    padding: 0px 0px 0px 5px;
    outline: 0;
    -webkit-box-shadow:inset 0px 1px 6px #ECF3F5;
    box-shadow: inset 0px 1px 6px #ECF3F5;
    font: 200 14px/25px Arial, Helvetica, sans-serif;
    height: 30px;
    line-height:15px;
    margin: 2px 6px 6px 0px;
    border-radius: 5px;
  }

  input:focus{
    -moz-box-shadow: 0 0 8px #88D5E9;
    -webkit-box-shadow: 0 0 8px #88D5E9;
    box-shadow: 0 0 8px #88D5E9;
    border: 1px solid #88D5E9;
  }

  input[type="submit"]{
    padding: 10px 10px 10px 10px;
    background: $theme1+25;
    border: none;
    border-radius: 5px;
    color: #FFF;
    box-shadow: 3px 3px 3px #4C6E91;
    -webkit-box-shadow: 3px 3px 3px #6b4c91;
    -moz-box-shadow: 3px 3px 3px #6b4c91;
    text-shadow: 1px 1px 1px #5079A3;
  }

  input[type="submit"]:hover {
    background: $theme1;
    cursor: pointer;
  }

}
